<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Blue2 Web Service Testing</title>
</head>
<body>
<h3>Blue2 Web Service Testing </h3>
<form method="post" action="Blue2Webservice">
<h4>URL</h4>
<input type="textfield" name="url" size="100"/>
<table> <tr> <td> <h4>Web Service Request</h4></td> 
<td> <h4>Web Service Response</h4></td> 
</tr>
<tr>
<td><textarea rows="30" cols="80" name="wsrequest"></textarea></td>
<td><textarea rows="30" cols="80" name="wsresponse"></textarea></td>
</tr>
</table>
<input type="submit" value="submit"/>
</form>
</body>
</html>
